@import "../../vars.css";

.container {
  margin-top: 150px;
  color: var(--color-text);
  margin-left: 5%;
  margin-right: 5%;
  scroll-margin-top: var(--scroll-offset);
  margin-top: 250px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 600px) {
  
  .container {
    margin-top: 100px;
  }
}
