@import "../../vars.css";

.projectSlide {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px;
  border-radius: 18px;
  background: var(--color-ab);
  box-shadow: 0 0 20px rgba(87, 108, 188, 0.4);
  transition: transform 0.3s ease;
  z-index: 1;
}

[data-theme="light"] .projectSlide {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px;
  border-radius: 18px;
  background: var(--color-pj);
  box-shadow: 0 0 20px #576cbc;
  transition: transform 0.3s ease;
}

.reversed {
  flex-direction: row-reverse;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image {
max-width: 500px;
  max-height: 300px; /* limits height */
  width: auto;
  height: auto;
  object-fit: contain; /* keeps full image visible */
  border-radius: 14px;
  box-shadow: 0 0 12px #921187, 0 4px 20px #921187;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageContainer:hover .image {
  transform: scale(1.03);
  box-shadow: 0 0 20px #921187, 0 0 40px #921187,
    0 0 60px #921187;
}

[data-theme="light"] .imageContainer:hover .image {
  transform: scale(1.03);
  box-shadow: 0 0 20px black
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}
.date {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-accent);
  margin-top: -12px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.description {
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.95;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill {
  background: var(--color-primary);
  padding: 6px 18px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 0 10px #921187;
}

.skill:hover {
      transform: translateY(-3px);
  box-shadow: 0 0 20px #921187;
}

[data-theme="light"] .skill {
  background: #7da4ff;
  padding: 6px 18px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
}

.links {
  display: flex;
  gap: 18px;
  margin-top: 12px;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 600;
  background: var(--color-bg);
    box-shadow: 0 0 10px #921187;
  padding: 8px 18px;
  border-radius: 100px;
  transition: background 0.3s ease;
}

.link:hover {
    transform: translateY(-3px);
  box-shadow: 0 0 20px #921187;
}

/* 🌐 Responsive */
@media (max-width: 900px) {
  .projectSlide {
    flex-direction: column;
    padding: 30px 20px;
  }

  .reversed {
    flex-direction: column;
  }

  .image {
    max-width: 100%;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 18px;
  }

  .link {
    font-size: 15px;
  }
}
