.sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: -10;
}

.gradient {
  position: absolute;
  bottom: -20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 200vw;
  height: 120vh;
  border-radius: 50% / 100%;
  background: radial-gradient(
    ellipse at center bottom,
    rgba(249, 212, 35, 0.9) 0%,
    rgba(185, 19, 114, 0.7) 35%,
    rgba(107, 15, 156, 0.5) 60%,
    rgba(9, 10, 15, 0) 100%
  );
  z-index: 0;
  pointer-events: none;
  filter: blur(30px);
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 3s infinite alternate ease-in-out;
  pointer-events: none;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}




.mountains {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35vh;
  background: linear-gradient(to top, #1b1b1b 0%, transparent 100%), url('/landscape.svg');
  background-size: cover;
  background-position: bottom center;
  z-index: 1;
}