@import "./vars.css";

.App {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.loading {
  padding: 4rem;
  text-align: center;
  font-size: 1.25rem;
  color: #888;
}